* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 900px;
  max-width: 500px;
  border: 1px solid #d4d4d4;
  padding: 25px;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #ffffff;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .inputs {
    max-width: 450px;
  }
}

.title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 20px;
  align-self: center;
  margin-top: 0px;
  color: #000000;
}

.description {
  color: #747474;
  font-size: 16px;
  margin-bottom: 10px;
}

.input-field {
  --width-of-input: 200px;
  --border-height: 1px;
  --border-before-color: rgba(27, 26, 26, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input {
  color: #000000;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
}

.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

/* input:hover {
      background: var(--input-hovered-color);
    } */

input:focus {
  outline: none;
}

input:focus ~ .input-border {
  width: 100%;
}

.error-msg {
  color: #ff0000;
  font-size: 0.8rem;
  margin-top: 5px;
  margin-bottom: 20px;
}

.forgot-password {
  align-self: flex-end;
  margin-top: 2px;
  font-size: 15px;
}

.btn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
}

.btn {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #cccccc 0%, #cccccc 100%);
  box-shadow: 0 20px 30px -6px rgba(175, 175, 175, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: white;
  align-self: center;
}

.active {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #92b8fe 0%, #2757f5 100%);
  box-shadow: 0 20px 30px -6px rgba(97, 146, 238, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: white;
  align-self: center;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
}

.link {
  color: #5891ff;
  text-decoration: none;
}

.otp-fields {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.otp-fields input {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  text-align: center;
  font-size: 18px;
}

.weaver-page {
  padding: 30px;
}

.weaver-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d4d4d4;
}

.weaver-nav div:first-child {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #1d43c0;
}

.weaver-icon {
  font-size: 25px;
}

.weaver-nav div:first-child p {
  font-size: 18px;
  font-weight: 500;
}

.weaver-nav div:last-child {
  display: flex;
  align-items: center;
  gap: 15px;
}

.weaver-btns div:first-child {
  border: 1px solid #d4d4d4;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 15px;
  height: 50px;
  width: 240px;
}

.search-icon {
  font-size: 25px;
  color: #969696;
}

.weaver-input {
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
}

.weaver-btns button {
  border: none;
  outline: none;
  padding: 15px;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  background-color: #1d43c0;
  color: #fff;
}

.plus-icon {
  font-size: 25px;
}

.active-heading {
  color: #1d43c0;
  font-weight: 500;
  margin-left: 10px;
}

.devices-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.device-card {
  padding: 10px;
  padding-bottom: 18px;
  border-radius: 15px;
  border: 1px solid #d4d4d4;
  width: 32%;
}

.device-card img {
  border-radius: 15px;
  width: 100%;
}

.device-card button {
  border: none;
  outline: none;
  height: 40px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #929292;
  background-color: transparent;
}

.device-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.device-info div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.device-info div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.status {
  font-size: 16px;
  color: rgb(236, 65, 65);
}

.location {
  font-size: 14px;
  color: #504f4f;
}

.cl-toggle-switch {
  position: relative;
}

.cl-switch {
  position: relative;
  display: inline-block;
}
/* Input */
.cl-switch > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  right: 6px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0, 0.38);
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
}
/* Track */
.cl-switch > span::before {
  content: "";
  float: right;
  display: inline-block;
  margin: 5px 0 5px 10px;
  border-radius: 7px;
  width: 36px;
  height: 14px;
  background-color: rgb(0, 0, 0, 0.38);
  vertical-align: top;
  transition: background-color 0.2s, opacity 0.2s;
}
/* Thumb */
.cl-switch > span::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 16px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s, transform 0.2s;
}
/* Checked */
.cl-switch > input:checked {
  right: -10px;
  background-color: #8a85b8;
}

.cl-switch > input:checked + span::before {
  background-color: #8a85b8;
}

.cl-switch > input:checked + span::after {
  background-color: #1d43c0;
  transform: translateX(16px);
}
/* Hover, Focus */
.cl-switch:hover > input {
  opacity: 0.04;
}

.cl-switch > input:focus {
  opacity: 0.12;
}

.cl-switch:hover > input:focus {
  opacity: 0.16;
}
/* Active */
.cl-switch > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.cl-switch > input:active + span::before {
  background-color: #8f8f8f;
}

.cl-switch > input:checked:active + span::before {
  background-color: #8a85b8;
}
/* Disabled */
.cl-switch > input:disabled {
  opacity: 0;
}

.cl-switch > input:disabled + span::before {
  background-color: #ddd;
}

.cl-switch > input:checked:disabled + span::before {
  background-color: #bfdbda;
}

.cl-switch > input:checked:disabled + span::after {
  background-color: #8a85b8;
}

.add-device-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.add-device-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
  min-height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.add-device-form  > h1 {
  margin-bottom:  20px;
}

.add-device-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.add-device-input-container label {
  font-size: 1.2rem;
  font-weight: 500;
}

.add-device-input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.add-device-btn {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #2eaf55;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  height: 40px;
  width: 100px;
  align-self: flex-start;
}

.error {
  color: red;
  font-size: 0.8rem;
  font-weight: 500;
  align-self: flex-start;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 500px;
  max-width: 550px;
}

.popup-content {
  background: transparent !important;
  border: none !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
